{% extends "layout.html" %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ super() }}{% endblock %} 

{% block content %}

    <h4 class="text-center"><a href="{{ url_for('sort', by='name') }}">Sort by Name</a> | <a href="{{ url_for('sort', by='height') }}">Sort by Height</a> | <a href="{{ url_for('sort', by='mass') }}">Sort by Mass</a> | <a href="{{ url_for('characters') }}">Reset</a></h4>
    <p class="text-center">*If height/mass is unknown, it will appear as 0</p>

    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair Color</th>
                <th>Skin Color</th>
                <th>Eye Color</th>
                <th>Birth Year</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result['name'] }}</td>
                <td>{{ result['height'] }}</td>
                <td>{{ result['mass'] }}</td>
                <td>{{ result['hair_color'] }}</td>
                <td>{{ result['skin_color'] }}</td>
                <td>{{ result['eye_color'] }}</td>
                <td>{{ result['birth_year'] }}</td>
                <td>{{ result['gender'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}